@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .heroButton{
        @apply px-6 py-2 border border-[#0e1630] rounded-full uppercase 
        text-xs tracking-widest text-gray-500 transition-all 
        hover:border-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
    }
    ::-webkit-scrollbar {
        width: 10px;
        background: #808dad;
      }
      
      ::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background: #171f38;
      }

      .contactInput{
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] 
        text-gray-500 placeholder-gray-500 transition-all 
        focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40 
      }
}